html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: arial;
}

#header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 10%;
  padding: 14px 20px;
  background-color: #1187d2;
}
#home_id {
  width: 10px;
  height: 100px;
}
#map {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 85%;
  height: 90%;
  border: 0.5px solid #f7dddd;
}
#legend {
    z-index: 11;
    padding: 4px 5px;
    border: 1px solid grey;
    position: absolute;
    bottom: 0%;
    height: 90%;
    left: 85%;
    overflow: scroll;
    width: 15%;
    background-color: #ffffff;
    font-weight: bold;
  }
.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s,
    background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}

#search-submit {
  position: relative;
  left: -5000px;
}

.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}

.ol-mouse-position {
  top: auto;
  right: auto;
  bottom: 5px;
  left: 50%;
  position: fixed;
  transform: (-50%);
  border: 1px solid grey;
  border-radius: 10pt;
  padding: 5px;
  background-color: rgba(225, 225, 225, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}
.myButton {
  color: #fff;
  font-weight: 700;
  text-align: center;
  height: 25px;
  width: 25px;
  border-radius: 2px;
 
  border: none;
  align-items: center;
}
.myButton:hover {
  background-color: rgba(0, 60, 136, 0.0);
}
.myButton.clicked {
  background-color: rgba(43, 136, 0, 0.0);
}
.myButton:hover {
  background-color: rgba(43, 136, 0, 0.0);
}
.homButtonDiv {
  position: relative;
  display: block;
  margin: 520px auto auto 10px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "X";
}

#data {
  width: 60%;
}

#table_data {
  position: absolute;
  bottom: 0%;
  overflow: scroll;
  left: 70%;
  right: 0%;
  height: 0%;
  border: 1px solid #4caf50;
}

#table {
  white-space: nowrap;
  grid-template-areas: "head-fixed" "body-scrollable";
}

#showData {
  overflow: auto;
  width: 100%;
}

#table th {
  position: -webkit-sticky;

  position: sticky;
  top: 0;
  background-color: darksalmon;
}

#table_wms_layers {
  white-space: nowrap;
  border-collapse: separate;
  font-family: arial;
  font-size: 14px;
}

#table_wms_layers th {
  position: -webkit-sticky;

  position: sticky;
  top: 0;
  background-color: darksalmon;
}

#clear_btn {
  position: absolute;
  z-index: 500;
  top: 1%;
  left: 75%;
}

.layer-switcher.shown {
  max-height: 465px;
}



.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static:before {
  border-top-color: #ffcc33;
}

.modal {
  overflow: hidden;
}

.modal-dialog {
  height: 300px;
}

.modal-header {
  height: 30px;
  padding: 20px;
  background-color: #18456b;
  color: white;
}

.modal-title {
  margin-top: -10px;
  font-size: 16px;
}

.modal-header .close {
  margin-top: -10px;
  color: #fff;
}

.modal-body {
  color: #888;
  padding: 5px 35px 20px;
}

.modal-body h3 {
  text-align: center;
}

.modal-body p {
  padding-top: 10px;
  font-size: 1.1em;
}
