html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial;
}

#title {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 15%;
    background-color: #f1f3f4;
    border: 1px solid darkgrey;
}

#map {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 85%;
    overflow: scroll;
    border: 0.5px solid #4CAF50;
}

#wms_layers_btn {
    position: absolute;
    z-index: 500;
    top: 1%;
    left: 60%;
}

#data {
    width: 60%;
}

#table_data {
    position: absolute;
    bottom: 0%;
    overflow: scroll;
    left: 20%;
    right: 0%;
    height: 0%;
    border: 1px solid #4CAF50;
}

#table {
    white-space: nowrap;
    grid-template-areas: "head-fixed" "body-scrollable";
}

#showData {
    overflow: auto;
    width: 100%;
}

#table th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    background-color: darksalmon;
}

#table_wms_layers {
    white-space: nowrap;
    border-collapse: separate;
    font-family: arial;
    font-size: 14px;
}

#table_wms_layers th {
    position: -webkit-sticky;
    /* for Safari */
    position: sticky;
    top: 0;
    background-color: darksalmon;
}

#clear_btn {
    position: absolute;
    z-index: 500;
    top: 1%;
    left: 75%;
}

.ol-mouse-position {
    top: 97%;
    right: 20%;
    position: absolute;
    font-weight: bold;
}

.layer-switcher.shown {
    max-height: 465px;
}

#query_tab {
    position: absolute;
    padding: 0.5% 0%;
    top: 4%;
    height: 58%;
    overflow: scroll;
    width: 15%;
    left: 0%;
}

.tab-content {
    position: relative;
    top: 1%;
    width: 85%;
    height: 85%;
}

#legend {
    z-index: 11;
    padding: 4px 5px;
    border: 1px solid grey;
    position: absolute;
    bottom: 0%;
    height: 85%;
    overflow: scroll;
    width: 15%;
    left: 0%;
    background-color: #ffffff;
    font-weight: bold;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "X";
}

#measure {
    position: absolute;
    z-index: 50;
    top: 1%;
    left: 5%;
}

#getinfo {
    position: absolute;
    z-index: 50;
    top: 1%;
    left: 30%;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

button.btn-settings {
    margin: 25px;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #337ab7;
    color: white;
}

button.btn-settings:active {
    color: white;
}

.modal {
    overflow: hidden;
}

.modal-dialog {
    height: 300px;
}

.modal-header {
    height: 30px;
    padding: 20px;
    background-color: #18456b;
    color: white;
}

.modal-title {
    margin-top: -10px;
    font-size: 16px;
}

.modal-header .close {
    margin-top: -10px;
    color: #fff;
}

.modal-body {
    color: #888;
    padding: 5px 35px 20px;
}

.modal-body h3 {
    text-align: center;
}

.modal-body p {
    padding-top: 10px;
    font-size: 1.1em;
}